<!DOCTYPE html>
<html>
  <head>
    <title>Onschedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="rails_direct_uploads_url" content="<%= rails_direct_uploads_url %>">
  </head>
  <body>
    <div id="root" class="page"></div>
    <%= javascript_pack_tag 'spa', 'data-turbolinks-track': 'reload' %>
  </body>
</html>